{% extends "bootstrap/base.html" %}
<html>
<head>
<meta charset="UTF-8">
<title>Weather Query System</title>
<style type="text/css">
	body{text-align: center;}
</style>
{{ moment.include_jquery() }}
{{ moment.include_moment() }}
</head>
<body>
<h1>Weather Query System</h1>

<table align="center">
<tr>
<td>
	<form action="/" method="POST" >
		<label>Input a city name:</label>
		<input type="text" name="city_name">
		<input type="submit" name="button" value="Query">
	</form>
</td>
<td>
	<form action="/" method="GET" >
	<input type="submit" name="button" value="History">
	<input type="submit" name="button" value="Help">
	<input type="submit" name="button" value="Modify">
</form>
</td>
</tr>
</table>
{% if display == 'history' %}
	{% for inf in info %}
		<p>{{moment(inf[2]).format('YYYY-MM-DD HH:mm:ss')}}#{{inf[0],inf[1],inf[3],inf[4]}} </p>
	{% endfor %}
{% else %}
	{% for inf in info %}
		<p>{{inf}}</p>
	{% endfor %}
{% endif %}
<!-- {{get_flashed_messages()}} -->
</body>
</html>